<?xml version="1.0" encoding="UTF-8"?>
<ksana name="ksana-framework" mode="development" port="8080">
  <bean name="database">
    <property name="adapter" value="postgres"/>
    <property name="url" value="postgres://postgres@localhost/ksana?sslmode=disable"/>
  </bean>

  <bean name="redis">
    <property name="pool" value="5"/>
    <property name="url" value="localhost:6379"/>
  </bean>

</ksana>
